{% extends "base.html"%}
{% block content %}
<main>
    <h1>Expense Category</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.list.all }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
